extends layout
block content
  .span12
    for md in markdowns
      div.span3(data-views= md.meta.views,data-updated= moment(md.updated).format('YYYYMMDDHHmmss'), data-created=moment(md.created).format('YYYYMMDDHHmmss'))
        a(href='/#{folder.title}/#{md.title}')
          img(src=md.thumbnail)
          br
          h4= md.title
          p= moment(md.updated).format('YYYY/MM/DD')+ " updated. "+md.meta.views+" views"
